<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAmSUSld5MOtkRG-Bcum8eR8Yv53HIvKm0</string>
	<key>GCM_SENDER_ID</key>
	<string>846712324786</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.konkukbulls.aiconnectcar</string>
	<key>PROJECT_ID</key>
	<string>aiconnectcar</string>
	<key>STORAGE_BUCKET</key>
	<string>aiconnectcar.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:846712324786:ios:e091b5a6f7570ebec5ffab</string>
</dict>
</plist>